:root {
}

body {
  font-family: Trebuchet, Arial, sans-serif;
}

/* border to outline elements in dev */
body * {
  border: 5px solid aqua;
}

header {
  background-color: darkblue;
  color: azure;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
}
nav a {
  color: azure;
}

.bio {
  display: flex;
}

.bio-header {
  width: 20%;
}
.bio-content {
  width: 80%;
  flex: 1;
}

.work {
  display: flex;
  flex-wrap: wrap;
}

.work-header {
  width: 20%;
}
.work-card-hero {
  width: 75%;
}

.work-cards {
  width: 75%;
  justify-content: right;
}
footer {
  display: flex;
}
.contact-header {
  width: 20%;
}
.contact li {
  display: inline;
}
