:root {
  --blue-main: rgb(14, 14, 42);
}

body {
  font-family: Trebuchet, Arial, sans-serif;
}

/* border to outline elements in dev */
body * {
  /* border: 5px solid aqua; */
}

header {
  background-color: var(--blue-main);
  color: azure;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 3%;
}

section {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
}

a {
  color: azure;
}

.header-image img {
  height: 100px;
  width: 100%;
  /* keep image resolution without spilling beyond the container size */
  object-fit: cover;
}
/* Begin layout for main using grid

main {
  display: grid;
} */

/* Old css for trying the main layout using flex */
.bio {
  display: flex;
}

.bio-header {
  width: 18%;
  border-right: 5px solid grey;
  margin: 1%;
}
.bio-header h2 {
}

.bio-content {
  width: 80%;
  margin-right: 5%;
  flex: 1;
}

.work {
  display: flex;
  flex-wrap: nowrap;
}

.work-header {
  width: 18%;
  border-right: 5px solid grey;
  margin: 1%;
}

.work-cards {
  width: 80%;
  justify-content: right;
}

.work-card-hero {
  padding: 0;
  margin: 0;
  position: relative;
}

.work-card-hero img {
  width: 90%;
  margin-top: 10px;
  border: 3px solid var(--blue-main);
}

.work-card-hero a::before {
  content: "Javascript";
  color: azure;
  background-color: var(--blue-main);
  position: absolute;
  bottom: 20px;
  padding: 10px;
}

.work-cards ul {
  /* Make it possible for li elements to take up the whole container */
  padding: 0;
  position: relative;
}

.work-cards li {
  display: inline;
  /* justify-content: left; */
}

.work-cards-row-one img {
  width: 45%;
  border: 3px solid var(--blue-main);
}

.work-cards-row-two img {
  width: 45%;
  border: 3px solid var(--blue-main);
}

.work-card-one::before {
  content: "HTML";
  color: azure;
  background-color: var(--blue-main);
  position: absolute;
  bottom: 20px;
  padding: 5px;
}

.work-card-two::before {
  content: "CSS";
  color: azure;
  background-color: var(--blue-main);
  position: absolute;
  bottom: 20px;
  padding: 5px;
}

footer {
  display: flex;
  background-color: var(--blue-main);
  color: azure;
  /* justify-content: space-between; */
}

/* can consolidate by renaming all asides to aside-header? */
.contact-header {
  width: 18%;
  border-right: 5px solid grey;
  margin: 1%;
}
.contact li {
  display: inline;
}
