:root {
}

body {
  font-family: Trebuchet, Arial, sans-serif;
}

/* border to outline elements in dev */
body * {
  border: 5px solid aqua;
}

header {
  background-color: darkblue;
  color: azure;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
}
nav a {
  color: azure;
}

/* Begin layout for main using grid

main {
  display: grid;
} */

/* Old css for trying the main layout using flex */
.bio {
  display: flex;
}

.bio-header {
  width: 20%;
}
.bio-content {
  width: 80%;
  flex: 1;
}

.work {
  display: flex;
  flex-wrap: nowrap;
}

.work-header {
  width: 20%;
}

.work-cards {
  width: 80%;
  justify-content: right;
}

.work-card-hero img {
  width: 100%;
  border: 3px solid black;
}

.work-cards li {
  display: inline;
}

.work-cards-row-one img {
  width: 45%;
  border: 3px solid black;
}
.work-cards ul {
}

footer {
  display: flex;
  /* justify-content: space-between; */
}

.contact-header {
  width: 20%;
}
.contact li {
  display: inline;
}
