:root {
  --blue-main: rgb(14, 14, 42);
  --white-text: azure;
}

body {
  font-family: Trebuchet, Arial, sans-serif;
}

/* border to outline elements in dev */
body * {
  /* border: 5px solid aqua; */
}

header {
  background-color: var(--blue-main);
  color: var(--white-text);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 3%;
}

section {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin: 10px;
}

a {
  color: var(--white-text);
}

.header-image img {
  height: 100px;
  width: 100%;
  /* keep image resolution without spilling beyond the container size */
  object-fit: cover;
}

.header-image::before {
  content: "Future Full-Stack Developer 👀";
  color: var(--white-text);
  font-size: x-large;
  font-style: italic;
  font-weight: bolder;
  background-color: var(--blue-main);
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-right: 3%;
  padding-left: 10px;
}
.bio {
  display: flex;
}

aside {
  width: 18%;
  border-right: 5px solid grey;
  margin: 1%;
}

/* .bio-header {
  width: 18%;
  border-right: 5px solid grey;
  margin: 1%;
} */

.bio-content {
  width: 80%;
}

.bio-content p {
  width: 95%;
}
.work {
  display: flex;
  flex-wrap: nowrap;
}

/* adds hover glow to work cards */
.work img:hover {
  box-shadow: 5px 10px 20px var(--blue-main);
}

/* .work-header {
  width: 18%;
  border-right: 5px solid grey;
  margin: 1%;
} */

.work-cards {
  width: 80%;
  justify-content: right;
}

.work-cards > div {
  margin-right: 5%;
}

.work-card-hero {
  padding: 0;
  margin: 0;
  position: relative;
}

.work-card-hero img {
  width: 91%;
  margin-top: 10px;
  border: 3px solid var(--blue-main);
  position: relative;
}

.work-card-hero a::before {
  content: "Javascript";
  color: var(--white-text);
  background-color: var(--blue-main);
  position: absolute;
  bottom: 20px;
  padding: 10px;
  z-index: 1;
}

.work-cards ul {
  /* Make it possible for li elements to take up the whole container */
  padding: 0;
}

.work-cards li {
  display: inline;
  position: relative;
}

.work-cards-row-one img {
  width: 45%;
  border: 3px solid var(--blue-main);
}

.work-cards-row-two img {
  width: 45%;
  border: 3px solid var(--blue-main);
}

.work-card-one::before {
  content: "HTML";
  color: var(--white-text);
  background-color: var(--blue-main);
  position: absolute;
  bottom: 20px;
  padding: 5px;
}

.work-card-two::before {
  content: "CSS";
  color: var(--white-text);
  background-color: var(--blue-main);
  position: absolute;
  bottom: 20px;
  padding: 5px;
}

footer {
  display: flex;
  background-color: var(--blue-main);
  color: var(--white-text);
}

.contact {
  padding: 0;
}
.contact li {
  display: inline;
  margin: 10px;
}

/* || Responsive layout for small screens */

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .bio {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .bio-header {
    width: auto;
    margin: auto;
    border-right: none;
    align-self: center;
  }

  .bio-content {
    align-self: center;
    width: 80%;
    margin: auto;
    border-bottom: 5px solid grey;
  }

  .work {
    flex-direction: column;
  }

  .work-header {
    width: auto;
    margin: auto;
    padding-top: 10px;
    border-right: none;
    align-self: center;
  }

  .work-cards {
    margin-left: 10%;
    width: 80%;
  }

  .work-cards div {
    margin: 0;
    width: 100%;
    position: relative;
  }

  .work-card-hero img {
    width: 100%;
    /* margin-left: 12%; */
    border: 3px solid var(--blue-main);
    position: relative;
  }
  .work-cards-row-one img {
    width: 100%;
    margin-bottom: 15px;
  }
  .work-cards-row-two img {
    width: 100%;
  }
  .work-card-one::before {
    bottom: 35px;
  }
  .work-card-two::before {
    bottom: 35px;
  }

  footer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 70px;
  }

  .contact-header {
    border: none;
  }
  .contact-header h2 {
    margin-bottom: 0;
    text-align: center;
  }
}
